<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yo Yo app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div class="container mycontainer">
        <h2> My application loaded!</h2>
        <a href="#" class="button is-primary">Hello</a>
    </div>
</body>
</html>